.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
  }
  
.NavLink {
  padding: 5px;
}

.NavLink::first-letter {
  text-transform: capitalize;
}

.NavLink i {
  color: #bc1142;
  font-size: 3rem;
}

.Active {
  color: #bc1142;
}