.Row {
    height: calc(100vh - 50vh);
  }

.Header {
    font-size: 2rem;
    color: #252525;    
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    color: #252525;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Button {
    background-color: #bc1142;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-bottom: 16px;    
    width: 100%;
  }

  .Button:hover {
    background-color: #bc1142;
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;    
  }

  .Button:hover:active {
    background-color: #bc1142 !important;
  }
  
  .Button:active {
    background-color: #bc1142 !important;
  }
  
  .Button:focus {
    background-color: #bc1142;
  }