.img {
    object-fit: contain;
    height: 40vh;
    width: 100%;
}

.Header {
    font-size: 2rem;
    color: #252525;
    margin: 0px  8px;
    text-transform: capitalize;    
}

.stars i{
    font-size: 1.2rem;
    color: #bc1142;
}