.Card {
    height: 100%;
}
 
.img {
    object-fit: cover;
    height: 180px;
    width: 100%;
}

.body {
    align-content: end;
}

.Button {    
    background-color: #bc1142;
    color: #ffffff;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-bottom: 16px;      
}

.Button i {
    color: #ffffff;
}

.Button:hover{
  background-color: #bc1142;
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;    
}

.Button:hover:active{
  background-color: #bc1142 !important;
}

.Button:active{
  background-color: #bc1142 !important;
}

.Button:focus{
  background-color: #bc1142;
}

.modalToggle {    
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.compareIcon {
  align-self:normal;
  right: 2px;
  top: 2px;
  padding: 1px 3px;
}

.Modal {
  width: 100%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.modalBody {  
  max-height: 80vh;
  overflow-y:auto;
  scrollbar-width:none;
}