.App {
    font-family: "Roboto", sans-serif;
    background-color: #BFC0C0;
    min-height: 100vh;
}

.Main {
  padding-top: 100px;
  padding-bottom: 20px;
}

.Content {
  background-color: #ffffff;
  border: 1px solid #dadadf;  
  border-radius: 10px;
  padding: 10px; 
}

* {
    box-sizing: border-box;
  }

a {
  color: #252525;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #bc1142;
  transition: color ease-in-out 0.3s;
}
  
i {
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #bc1142;
  }